<launch>
  <node pkg="laser_filters" type="scan_to_scan_filter_chain"
      name="laser_filter">
    <rosparam command="load" file="$(find 4wbot_navigation)/launch/laserscan_angle_bounds_filter.yaml" />
    <remap from="scan" to="base_scan" />
    <remap from="scan_filtered" to="scan" />
  </node>
</launch>